<div class="jumbotron mt-4">
  <h1 class="display-4">Node js & Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ad, id
    consectetur velit omnis libero voluptate vitae, ex incidunt illo assumenda
    doloremque molestias vero quod fugit ullam officia nulla. Fugiat.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
    <a href="" class="btn btn-primary">Web</a>
</div>