<div class="card card-body p-5 mt-4">
  <div class="img-container">
    <img class="class-img" src="/img/node.png" alt="" />
    <img class="class-img" src="/img/mongodb.png" alt="" />
    <img class="class-img" src="/img/js.png" alt="" />
  </div>
  <h1>Notes App Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript
  </p>
  <div>
    <a class="btn register-button" href="/auth/signup" role="button">Register</a>
  </div>
</div>