body {
  background: #1488cc;
}
.navbar {
  background: #064b74;
}
.navbar-brand {
  color: #f1f1f1;
}
.nav-link {
  color: #f1f1f1;
}

.class-img {
  width: 150px;
  margin: 20px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
